<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content padding class="card-background-page">

 
<ion-card >
 <img class="imagoe" src="/assets/img/se-lancer-en-jardinage.jpg"/>
 <ion-card-content>
   <ion-card-title>
     Jardinage
     </ion-card-title>
 </ion-card-content>
 <ion-button   routerLink="/commander/kjfkjdfjkds" routerDirection="forward"   >commander</ion-button>
 <ion-button href="/specialists" >les specialists</ion-button>
</ion-card>



<ion-card >
   <img class="imagoe" src="/assets/img/electricité.jpg"/>
   <ion-card-content>
     <ion-card-title>
         Electricité
       </ion-card-title>
   </ion-card-content>
 </ion-card>

 <ion-card>
     <img src="/assets/img/peinte décorateur.jpeg"/>
     <ion-card-content>
       <ion-card-title>
         Peinture
         </ion-card-title>
     </ion-card-content>
   </ion-card>

   <ion-card>
       <img src="/assets/img/terrain-a-batir.jpg"/>
       <ion-card-content>
         <ion-card-title>
           Bâtiment
           </ion-card-title>
       </ion-card-content>
     </ion-card>
     

     <ion-card>
         <img src="/assets/img/charpente.png"/>
         <ion-card-content>
           <ion-card-title>
             Charpente
             </ion-card-title>
           <p>
             The most popular industrial group ever.
           </p>
         </ion-card-content>
       </ion-card>
       

       <ion-card>
           <img src="/assets/img/plomberie.jpg"/>
           <ion-card-content>
             <ion-card-title>
               Plomberie
               </ion-card-title>
           </ion-card-content>
         </ion-card>

</ion-content>

