<ion-header>
  <ion-toolbar>
    <ion-title><strong>his</strong> full name</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="auth-page">
  <div class="login-content">

    <!-- Logo -->
    <div padding text-center>
      <div class="logo"></div>
      <h2 ion-text class="text-primary">
        <strong>Spesialist </strong> Profile
      </h2>
    </div>

    <!-- Login form -->
    <form class="list-form">
      <ion-item>
        <ion-label floating>
          <ion-icon name="person" item-start class="text-primary"></ion-icon>
          Full Name :
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label floating>
          <ion-icon name="mail" item-start class="text-primary"></ion-icon>
          Email :
        </ion-label>
      </ion-item>
      <ion-item>
          <ion-label floating>
              <ion-icon name="call"></ion-icon>
            Phone :
          </ion-label>
      </ion-item>
        <ion-item>
            <ion-label floating>
                <ion-icon name="briefcase"></ion-icon>
              What i can do :
            </ion-label>
        </ion-item>
        
        <ion-item>
                <ion-label floating>
                    <ion-icon name="briefcase"></ion-icon>
                  Rating :
        </ion-label>
        </ion-item>
        <ion-item>
            <ion-label floating>
                    <ion-icon name="hammer"></ion-icon>
                    Projects :
                  </ion-label>
             <!-- List of Text Items -->
<ion-list>
    <ion-item>
      <ion-label>project1</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>project2ffffffffffffffff</ion-label>
    </ion-item>

  </ion-list>     
            </ion-item>

     
    </form>





  </div>
</ion-content>

